.idea/
docker_compose/data_client/app/.cache/*
docker_compose/data_client/app/.venv/*
docker_example/data/service.log
data_store/pg_data
data_store/raw_data
data_store/mongo_data
data_store/redis_data
jupyter_notebooks/tokenizers/
jupyter_notebooks/.ipynb_checkpoints/
spark_example/data/
